* {
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #3D3D3D;
}

@font-face {
  font-family: "BungeeShade";
  src: local("BungeeShade"),
   url("../../fonts/Bungee_Shade/BungeeShade-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
  url("../../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
